name: json-server CI workflow
on: push

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Lint
        uses: docker://golangci/golangci-lint:v1.25
        with:
          args: golangci-lint run
        env:
          CGO_ENABLED: 0

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.14
      - name: Test
        run: go test ./... -coverprofile "coverage.out"
        env:
          CGO_ENABLED: 0
      - name: Upload coverage report to CodeCov
        uses: codecov/codecov-action@v1
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          file: ./coverage.out
